src/main/resources/xsd/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="AfectacionPresupuestalRequest">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="folio" type="xs:string" />
            <xs:element name="nombreProducto" type="xs:string" />
            <xs:element name="cantidad" type="xs:int" />
            <xs:element name="precio" type="xs:decimal" />
        </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PagoRequest">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="folio" type="xs:string" />
            <xs:element name="nombreProducto" type="xs:string" />
            <xs:element name="cantidad" type="xs:int" />
            <xs:element name="precio" type="xs:decimal" />
        </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="guardadoRequest">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="folio" type="xs:string" />
            <xs:element name="nombreProducto" type="xs:string" />
            <xs:element name="cantidad" type="xs:int" />
            <xs:element name="precio" type="xs:decimal" />
        </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AfectacionPresupuestalResponse" type="xs:boolean" />
    <xs:element name="PagoResponse" type="xs:boolean" />
</xs:schema>